<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/m-favicon.ico">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if (NODE_ENV === 'production')  {%>
        <link rel="stylesheet" href="<%- cssFileName %>">
    <% } %>
    <%- helmetData.meta %>
    <%- helmetData.link %>
    <%- helmetData.title %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="app"><%- content %></div>
<script>
  window.__INITIAL_STATE__= <%- state %>
  window.__ASYNC_COMPONENTS_STATE__ = <%- asyncState %>
</script>
<script src="<%- pathToJSFile %>"></script>
</body>
</html>