<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="/images/m-favicon.ico">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <% if (process.env.NODE_ENV === 'production')  {%>
        <link rel="stylesheet" href="<%- cssFileName %>">
    <% } %>
    <meta name="description">
    <meta name="keywords">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        M React Boilerplate
    </title>
</head>
<body>
<div id="app">
    <div>
        <%- content %>
    </div>
</div>
<script>
  window.__INITIAL_STATE__= "<%- state %>"
  window.__ASYNC_COMPONENTS_STATE__ = <%- asyncState %>
</script>
<script src="<%- jsFileName %>"></script>
</body>
</html>